<div class="animate__animated animate__fadeIn">
    <h2>By Country</h2>
    <hr>
    <div class="row">
        <div class="col">
            <app-country-input (onEnter)="Search($event)" (onDebunce)="Suggestions($event)" placeholder="Country..."></app-country-input>
        </div>
    </div>

    <ul *ngIf="showSuggestions" class="list-group">
        <li *ngFor="let country of countriesSuggestions" class="list-group-item list-group-item-action">
            <a class="nav-link" [routerLink]="['/country',country.alpha2Code]">{{country.name}}</a>
        </li>
        <li class="list-group-item list-group-item-action" (click)="SearchSuggestion(term)">
            <a class="nav-link">Search: "{{term}}"</a>
        </li>
    </ul>
</div>

<hr>
<div *ngIf="isError" class="alert alert-danger">
    Country {{term}} not found
</div>

<div *ngIf="!isError && countries.length > 0" class="ro">
    <div class="col">
        <app-country-table [countries]="countries"></app-country-table>
    </div>
</div>