<div *ngIf="!country; else divCountry" class="alert alert-info">
    Please wait...
</div>

<ng-template #divCountry>
    <h2>{{country.name.common}} ({{country.name.official}}) [{{countryNativeName.common}}]</h2>
    <hr>
    <div class="row">
        <div class="col-xl-6 col-md-6 col-xs-12">
            <div class="custom-card">
                <span class="flag">{{country.flag}}</span>
                <div class="card-body">
                    <h5 class="card-title">{{country.capital[0]}}</h5>
                    <p class="card-text">{{country.altSpellings}}</p>
                    <a class="nav-link" style="cursor: pointer;" (click)="GoToMap()">See on Map</a>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-md-6 col-xs-12">
            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Population: </strong>{{country.population | number}}</li>
                    <li class="list-group-item"><strong>Time Zone: </strong>{{country.timezones}}</li>
                    <li class="list-group-item"><strong>Region: </strong>{{country.region}}, {{country.subregion}}</li>
                    <li class="list-group-item"><strong>demonyms: </strong>{{countryFemonymsM.m}} - {{countryFemonymsM.f}}</li>
                    <li class="list-group-item"><strong>Calling Code: </strong>{{country.idd.root}}{{country.idd.suffixes[0]}}</li>
                    <li class="list-group-item"><strong>Coins: </strong>
                      <p *ngFor="let currency of country.currencies | keyvalue">
                        {{currency.key}}, {{currency.value.name}}, {{currency.value.symbol}}
                      </p>
                    </li>
                    <li class="list-group-item"><strong>Languages: </strong>
                      <p *ngFor="let language of country.languages | keyvalue">
                        {{language.key}} - {{language.value}}
                      </p>
                    </li>
                </ul>
                <div class="card-body">
                    <h4>Translations</h4>
                    <span *ngFor="let translation of country.translations | keyvalue" class="badge bg-primary m-1">
                      {{translation.value.common}}
                    </span>
                </div>
            </div>
        </div>
        
        <pre *ngIf="false" class="mt-5">
            {{country | json}}
        </pre>
    </div>
</ng-template>
