<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th> # </th>
                <th> Flag </th>
                <th> Name </th>
                <th> Population </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
          <ng-container>
            <tr *ngFor="let country of countries; let i = index"
              class="country animate__animated animate__fadeIn" 
              (click)="goToCountry(country.name)"
              >
                <td>{{i+1}}</td>
                <td>
                  <span>{{country.flag}}</span>
                </td>
                <td>{{country.capital}}, <strong>{{country?.name?.common}}</strong></td>
                <td align="right">{{country.population | number}}</td>
            </tr>
          </ng-container>
          
        </tbody>
    </table>
</div>
